.root{
    -fx-background-color: #383838;
}
.label-white{
    -fx-text-fill: #e8e8e8;
    -fx-font-size: 20;
}
.label{
    -fx-text-fill: #100009;
}
.label-well{
    -fx-text-fill: #100009;
    -fx-font-size: 25;
}

.button{
    -fx-background-color: #AB4642;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 6;
}
.button-blue{
    -fx-background-color: #182fc2;
    -fx-background-radius: 7;
    -fx-arc-height: 10;
    -fx-arc-width: 30;
}
.button-red{
    -fx-background-color: #922121;
    -fx-background-radius: 7;
}

.button-blueLevel{
    -fx-background-color: #7c1cf9;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 15;
}

.button-green{
    -fx-background-color: #159222;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 4;
}
.button-greenLevel{
    -fx-background-color: #159222;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 15;
}

#m1{
    -fx-background-image: url("background_image2.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 1000 600;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}
#m2{
    -fx-background-image: url("m2.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 1000 600;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}
#farm0{
    -fx-background-image: url("farm0.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 1000 600;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}
#farm100{
    -fx-background-image: url("farm100.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 1000 600;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}
#farm150{
    -fx-background-image: url("farm150.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 1000 600;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}
#farm200{
    -fx-background-image: url("farm200.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 1000 600;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}
#farm400{
    -fx-background-image: url("farm400.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 1000 600;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

#mission{
    -fx-background-image: url("mission.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 500 500;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

#bold-label{
    -fx-font-weight: bold;
}
